<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxun.jms.dao.UserTestMapper" >
    <select id="getAUser"  resultType="com.gxun.jms.pojo.UserTest" parameterType="java.lang.String">
        SELECT * FROM users WHERE name = #{name};
    </select>
</mapper>